.header {
    background-color: #333333;
    display: flex;
    align-items: center;
    height: fit-content;
    justify-content: space-between;
    padding: 0 5%;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.header-logo img {
    width: 90px;
    height: 90px;
}
.header nav ul {
    display: flex;
}
.header nav ul li {
    list-style: none;
    display: inline-flex;
}
.header nav ul li a {
    text-decoration: none;
    padding: 40px 20px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
    border-bottom: 4px solid transparent;
}
.header nav ul li a:hover{
    color: var(--mainRed);
    border-bottom: 4px solid #dc3545;
}

.form-li{
    margin-left: 80px;
}
