@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Tilt+Warp&display=swap');



:root{
  --mainRed:#dc3545;
}

body{
  background-color: #1f272e;
  filter: blur(40%);
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.spinner-onpage-wrapper{
  background-color: #1f272e;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-height{
  height: calc(100vh - 115px);
}
.page-bg {
  width: 100%;
  height: 100%;
  pointer-events: none;
  object-fit: cover;
  filter: brightness(40%);
  position: fixed;
  overflow: hidden;
  z-index: -1000;
}

.slider-animate{
  animation: sliderAppear 1.5s forwards;
}
.pagebg-animate{
  animation: pageBgAppear 1.5s forwards;
}

.center-text-div{
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-family: 'Poppins', sans-serif;
}
.center-text-div.about{
  padding: 35px 30px;
  color: white;
  font-size: 20px;
  max-width: 600px;
  font-weight: bold;
  text-indent: 25px;
}
.center-text-div.about p:not(:first-of-type) {
  margin-top: 30px;
}



@keyframes sliderAppear {
  0%{
    opacity: 0;
    transform: translateX(50px);
    filter: blur(40px) brightness(40%);
  }
  100%{
    opacity: 1;
    transform: translateX(0px);
    filter: blur(0px) brightness(40%);
  }

}
@keyframes pageBgAppear{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}